<% errors.forEach(function(mssg){ %>
    <div class="alert alert-danger text-center"><%= mssg %></div>
<% }) %>

<% success.forEach(function(mssg){ %>
    <div class="alert alert-success text-center"><%= mssg %></div>
<% }) %>